@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* Container to wrap both sections */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  font-family: "Space Grotesk", sans-serif;
}

.background-container {
  background-image: url("./images/Group\ 271.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Hero section styles */
.hero-section {
  height: 100vh;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); /* Adjust overlay if needed */
}

/* Second section styles */
.second-section {
  height: 80vh;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9); /* Adjust overlay if needed */
}

/* Navbar styling */
.navbar {
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #42ea95;
  border-radius: 100%;
}
-r
/* General text styling */
h1,
h2,
p {
  margin-bottom: 0.5rem;
}

.btn-gradient {
  background-image: linear-gradient(
    57deg,
    #40db5c 0%,
    #03c7fd 50%,
    #40db5c 100%
  );
  color: white; /* Ensures text is readable on top of gradient */
  border: none; /* Remove border if needed */
  transition: background-image 0.3s ease; /* Smooth transition for hover effect */
}

.btn-gradient:hover {
  background-image: linear-gradient(
    57deg,
    #03c7fd 0%,
    #40db5c 50%,
    #03c7fd 100%
  ); /* Optional: reverse gradient on hover */
}

.bg-dark {
  background-color: black !important;
}

.nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}

.nav-btn {
  text-transform: uppercase;
  font-size: 14px;
}

.transform h2 span {
  color: black !important;
  font-weight: 900;
}

.connectivity h4 {
  color: black;
  font-weight: 900;
}

.services {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 300;
}

.line {
  width: 500px;
  height: 1px;
  background-color: white;
}

.blue-line {
  width: 100px;
  height: 10px;
  background-color: #0045ff;
}

.how-we-serve {
  background: rgba(0, 0, 0, 1) url("./images/service.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.text-gradient {
  color: #62f9ce;
}

.footer {
  color: white;
}
